1. Escriba una función  que reciba la fecha de nacimiento de un a persona y calcule la edad de la persona

In [7]:
fecha_nac =float(input('Introduzca su año de nacimiento '))

def calcula_edad(x):
    edad = 2023-x
    return edad

print('Su edad es: ', calcula_edad(fecha_nac))

Introduzca su año de nacimiento 1996
Su edad es:  27.0

2. Crea una función EscribirCentrado, que reciba como parámetro un texto y lo escriba centrado en pantalla (suponiendo una anchura de 80 columnas; pista: deberás escribir 40 - longitud/2 espacios antes del texto).

In [22]:
text =str(input('introduzca un texto '))
def centrar_text(x):
    espacios =int(40 - len(x)/2) #Note que definí espacios como int, si el elemento resultante fuese un float, mandaria un error ya que no puedo multiplicarlo por ''
    return espacios

print(' '*centrar_text(text)  + text)

introduzca un texto Hola
                                      Hola

3. Construya una función decorada que reciba un texto y lo escriba marcado con Markdown en itálica y resaltada (bold). Revise la lección de decoradores, no vista en clase.

In [59]:
#from IPython.display import display, Markdown #necesario para imprimir como markdown

texto =str(input('introduzca un texto '))

def markdown_decorador(func):
    def italic_bold(texto):
        nuevo_texto = f"**_{texto}_**"
        return func(nuevo_texto)
    return italic_bold

introduzca un texto Hola

In [60]:
@markdown_decorador
def texto_formateado(texto):
    return texto

In [61]:
resultado = texto_formateado(texto)
print(resultado)

**_Hola_**

4.  Crea un programa que pida dos número enteros al usuario y diga si alguno de ellos es múltiplo del otro.

In [12]:
N=2
num_list=[]
for i in range(N):
    num =int(input(f'introduzca un número entero {i+1}: '))
    num_list.append(num)

#print(num_list)
if num_list[0]%num_list[1] ==0:
    print(num_list[0],'es múltiplo de ',num_list[1])
elif num_list[1]%num_list[0] ==0:
    print(num_list[1],'es múltiplo de ', num_list[0])
else:
    print("Los números no son múltiplos entre sí.")

introduzca un número entero 1: 14
introduzca un número entero 2: 7
14 es múltiplo de  7

5. Crear una función re reciba una lista  de 24 valores de temperatura leída  hora en un día y que calcule la temperatura media  Cree una lista con 24 valores de temperatura de un día de Bogotá y pruebe su función. Invente los datos.

In [22]:
import pandas as pd
list=r'C:\Users\Usuario\Data Science\Machine Learning and Deep Learning Course - UNAL\Data\Tarea3_tempBogota.xlsx'
df=pd.read_excel(list)
df

        Hora  Temperatura
0   00:00:00            5
1   01:00:00            4
2   02:00:00            5
3   03:00:00            6
4   04:00:00            7
5   05:00:00            7
6   06:00:00            9
7   07:00:00           13
8   08:00:00           14
9   09:00:00           17
10  10:00:00           19
11  11:00:00           21
12  12:00:00           23
13  13:00:00           24
14  14:00:00           21
15  15:00:00           20
16  16:00:00           16
17  17:00:00           14
18  18:00:00           12
19  19:00:00           10
20  20:00:00            7
21  21:00:00            6
22  22:00:00            5
23  23:00:00            5

In [25]:
promedio = df['Temperatura'].mean()
print(promedio)

12.083333333333334

6. Crea un función “ConvertirEspaciado”, que reciba como parámetro un texto y devuelve una cadena con un espacio adicional tras cada letra. Por ejemplo, “Hola, tú” devolverá “H o l a , t ú “.  Pruebe

In [26]:
text =str(input('introduzca un texto '))

def ConvertirEspaciado(texto):
    # Crear una cadena vacía para almacenar el resultado
    resultado = ""

    # Recorrer cada letra del texto y agregarla al resultado con un espacio adicional
    for letra in texto:
        resultado += letra + " "

    # Eliminar el último espacio adicional y devolver el resultado
    return resultado.strip() #strip se utiliza para eliminar los caracteres especificados o en este caso espacios en blanco
print(ConvertirEspaciado(text))

introduzca un texto Hola, tú
H o l a ,   t ú

6. Crea una función “calcularMaxMin” que recibe una arreglo con valores numérico y devuelve el valor máximo y el mínimo.

In [29]:
N=int(input('Cuantos utilizará en el arreglo:'))
num_list=[]
for i in range(N):
    num =float(input(f'introduzca un número {i+1}: '))
    num_list.append(num)
def calcularMaxMin(List):
    #inicializamos los valores máx y min
    Max=List[0]
    Min=List[0]
    
    for num in num_list:
        if num > Max:
            Max =num
        if num < Min:
            Min =num
    return (Min, Max)

print(calcularMaxMin(num_list))

Cuantos utilizará en el arreglo:5
introduzca un número 1: -35
introduzca un número 2: 1
introduzca un número 3: 2
introduzca un número 4: 5
introduzca un número 5: 16
(-35.0, 16.0)

8.  Diseñar una función que calcule el área y el perímetro de una circunferencia.

In [31]:
#Supongamos que conocemos el radio de la circunferencia
import numpy as np
R=float(input('Introduzca el radio de la circunferencia: '))
A=np.pi*R**2
C=2*np.pi*R
print('Su área es',A, 'y su perimetro',C)

Introduzca el radio de la circunferencia: 16
Su área es 804.247719318987 y su perimetro 100.53096491487338

9. Crear una función  llamada “Login”, que recibe un nombre de usuario y una contraseña y devuelva Verdadero si el nombre de usuario es “usuario1” y la contraseña es “asdasd”. Además recibe el número de intentos que se ha intentado hacer login y si no se ha podido hacer login incremente este valor.

In [36]:
n=0
def Login(usuario,contraseña,n):
    if usuario == 'usuario1'and contraseña== 'asdasd':
        return True
    else:
        n=n+1
        print('usuario o contraseña incorrectas.')
        print('Intento: ',n)
        return False
while True:
    nom=input('Introuzca su usuario: ')
    cont=input('Introduzca su contraseña: ')
    if Login(nom,cont,n):
        print('Usuario y contraseña correctas')
        break
    else:
        n=n+1

Introuzca su usuario: usuario1
Introduzca su contraseña: kk
usuario o contraseña incorrectas.
Intento:  1
Introuzca su usuario: kk
Introduzca su contraseña: kk
usuario o contraseña incorrectas.
Intento:  2
Introuzca su usuario: kk
Introduzca su contraseña: kk
usuario o contraseña incorrectas.
Intento:  3
Introuzca su usuario: usuario1
Introduzca su contraseña: asdasd
usuario y contraseña correctas

10. Crear una función recursiva que permita calcular el factorial de un número. Realiza un programa principal donde se lea un entero y se muestre el resultado del factorial. Revise la lección de funciones.

In [41]:
N=int(input('Introduzca un número entero: '))
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
resultado= factorial(N)
print('El valor de',N,'! es: ',resultado)

Introduzca un número entero: 6
El valor de 6 ! es:  720

11. Escribir dos funciones que permitan calcular:

-La cantidad de segundos en un tiempo dado en horas, minutos y segundos.

-La cantidad de horas, minutos y segundos de un tiempo dado en segundos

In [61]:
hor=input('Introduzca Horas, minutos y segundos separadas por una coma: ')
variables = [int(num) for num in hor.split(',')]
hora=variables[0]
minuto=variables[1]
segundo=variables[2]
def calcular_segundos(horas, minutos, segundos):
    total_segundos = horas * 3600 + minutos * 60 + segundos
    return total_segundos

def calcular_tiempo(segundos):
    horas = segundos // 3600
    minutos = (segundos % 3600) // 60
    segundos = (segundos % 3600) % 60
    return horas, minutos, segundos

print('El tiempo en segundo es',calcular_segundos(hora, minuto, segundo))

seg=int(input('Introduzca tiempo en segundos: '))
print('El tiempo en horas, minutos y segundos es: ',calcular_tiempo(seg))

Introduzca Horas, minutos y segundos separadas por una coma: 1,0,2
El tiempo en segundo es 3602
Introduzca tiempo en segundos: 500
El tiempo en horas, minutos y segundos es:  (0, 8, 20)


12. Crea una función  que lea una tupla, invierta los valores de la tupla y regrese una nueva tupla invirtiendo los valores. Recuerde que las tuplas son inmutables.

In [56]:
tupla_original = (1, 2, 3)

def inv_tupla(tupla):
    tupla_invertida = tuple(reversed(tupla)) #la función reversed se encarga de invertir los valores
    return tupla_invertida

tupla_invertida = inv_tupla(tupla_original)
print(tupla_invertida)

(3, 2, 1)

13. Escriba una función que lea una lista y calcule la media geométrica de sus valores, usando funtools.reduce.

In [73]:
import functools
import numpy as np

array=input('Introduzca números para lista separadas por una coma: ')
variables = [int(num) for num in array.split(',')]
         
def media_geometrica(lista):
    multiplicacion = functools.reduce(lambda x, y: x * y, lista) #multiplica los elementos de la lista
    n = len(lista)
    media_g = multiplicacion ** (1/n)
    return media_g
         
media_g =media_geometrica(variables)
print('Media geométrica',media_g)

#probar el resultado

def media(lista):
    avg =np.mean(lista)
    return avg

print('Media aritmética',media(variables))

#como el logaritmo de la media geometrica es igual a la media aritmetica de los logaritmos de las variables
log_mediageo=(np.log(media_g))
log_mediagvar=np.log(variables)
print('logaritmo de la media geométrica',log_mediageo)
print('Media aritmetica de los logaritmos de las variables',media(log_mediagvar))

Introduzca números para lista separadas por una coma: 16,14,5,10
Media geométrica 10.287373447220803
Media aritmética 11.25
logaritmo de la media geométrica 2.3309172643207967
Media aritmetica de los logaritmos de las variables 2.3309172643207967